<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048447878930-dvs09locc8vodcf86fvcthoscac5rrou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048447878930-dvs09locc8vodcf86fvcthoscac5rrou</string>
	<key>API_KEY</key>
	<string>AIzaSyBvpW2XKGkzCmxeJZ1xj0hk8APpD6mWKSg</string>
	<key>GCM_SENDER_ID</key>
	<string>1048447878930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-project-0901</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-project-0901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048447878930:ios:842f9b309fe1c73d87d5cb</string>
</dict>
</plist>